.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 8px;
    background-color: #000000dc;
    z-index: 10;
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.336);
  }
  
  @media (min-width: 768px) {
    .navbar {
      height: 80px;
      padding: 14px;
    }
  }
  
  .navbar svg {
    cursor: pointer;
  }
  